body{
    background: #020024;
background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
}
.warning{
    margin-top: 2rem;
    color: black;
    border-radius: 10px;

    background-color: rgba(0, 0, 0, 0.1);
}